<div class="container">
	<div class="text-center">
		<h1 class="pt-5 pb-5 chronometer">{{ timer | timeInSeconds }}</h1>
		<hr />
		<div class="row justify-content-center">
			<div class="col-auto">
				<button (click)="startFocus()" class="btn btn-success btn-lg"><i class="fa fa-play"></i> focar</button>
			</div>
			<div class="col-auto">
				<button (click)="startShortBreak()" class="btn btn-primary btn-lg">pausa rápida</button>
			</div>
			<div class="col-auto">
				<button (click)="startLongBreak()" class="btn btn-primary btn-lg">pausa longa <small><b>(15)</b></small></button>
			</div>
			<div class="col-auto">
				<button (click)="stop()" class="btn btn-danger btn-lg"><i class="fa fa-stop"></i> parar</button>
			</div>
		</div>
	</div>
</div>